<!-- Graph API -->
<meta property="og:type" content="website" />
<meta property="og:locale" content="ru_ru" />
<meta property="og:locale:alternate" content="en_us" />
<meta property="og:updated_time" content="2016-08-28T13:35:44+06:00" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:site_name" content="wemake.services" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image"
      content="http://wemake.services/assets/images/wemake-services-logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:site" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta name="twitter:domain" content="{{ site.url }}" />
<meta name="twitter:image:src"
      content="http://wemake.services/assets/images/wemake-services-logo.png" />

<link rel="image_src"
      href="http://wemake.services/assets/images/wemake-services-logo.png" />
