// Main page:

$width: 250px;

.wemakeservices__component {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .wemakeservices-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .wemakeservices-logo {
    max-width: $width;
    margin: 0 auto;

    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }

  .wemakeservices-contacts {
    font-family: 'Inconsolata', monospace;
    max-width: $width;
    margin: 0 auto;

    .wemakeservices-contact {
      text-align: center;

      a, a:hover, a:active, a:visited {
        text-decoration: none;
        color: black;
      }

      &.two .show:last-of-type:after {
        content: '|';
        position: absolute;
        display: inline;
        animation: blink 1s infinite;
      }
    }
  }
}

@keyframes blink {
  from, to {
    color: transparent;
  }

  50% {
    color: black;
  }
}
